<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact Me</title>
</head>
<body>
  <section class="section-contact">
    <h1 class="contact-heading">Contact Me</h1>
      <div class="media-grid">
        <ul>
          <li>
            <a href="https://www.linkedin.com/in/michaelclampett/"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="https://github.com/SyntheticAutomation"><i class="fab fa-github-square"></i></a>
          </li>
          <li class="contact-text">
            <a href="https://drive.google.com/file/d/1vLzCeWKw88GXFEzHdlwr7S2yL26Bourj/view?usp=sharing">View my Resume</a>
          </li>
          <li class="contact-text">
            syntheticauto900@gmail.com
          </li>
          <li class="contact-text">
            (252) 412-9060
          </li>
          <li>
            <a href="/" class="contact-home__link">Back to Home</a>
          </li>
        </ul>
      </div>
  </section>
</body>
</html>