<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <section class="section-hero">
    <section class="centered hero--heading">
      <h1>hey, I'm</h1>
      <h1 class="display-2" id="name-script"><%= render 'layouts/name'%></h1>
    </section>
  </section>
  <%= render 'layouts/profile' %>
  <section class="section-projects">
    <div class="heading-projects">
      <h3 class="display-3 project-heading" >What I've built</h1>
      <p class="project-heading">(besides the site you're on)</p>
    </div>
    <%= render 'layouts/projects'%>
  </section>
  <section class="section-skills">
    <%= render 'layouts/skills' %>
  </section>


</body>
</html>

