<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <section class="section-hero">
    <%# -------------- Navigation Bar ----------- %>
    <header>
      <nav>
        <div class="my-custom-row">
          <ul class="nav-left">
            <li>
              
            </li>
          </ul>
          <ul class="nav-right">
            <li>
              <a href="/contact">Contact Me</a>
            </li>
            <li>
              <a href="/">Home</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <%# ----------------------------------------- %>
    <section class="centered">
      <h1 class="display-1" id="name-script">Michael Clampett</h1>
      <hr class="separation-line">
      <p class="lead" id="titles">Interactive Resume</p>
    </section>
  </section>
  <section class="section-profile">
    <section class="centered">
      <h1 class="profile-title">Profile</h1>
      <%= image_tag 'plumbus.jpg', class: 'face' %>
    </section>
  </section>

</body>
</html>