<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <section class="section-hero">
    <%# -------------- Navigation Bar ----------- %>
    <header>
      <nav>
        <div class="my-custom-row">
          <ul class="nav-right">
            <li>
              <a class="nav-link" href="/contact">Contact Me</a>
            </li>
            <li>
              <a class="nav-link" href="/">Home</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <%# ----------------------------------------- %>
    <section class="centered">
      <h1 class="display-2" id="name-script"><%= render 'layouts/name'%></h3>
      <%# <p class="lead" id="titles">"He has to learn everything about everything."</p> %>
    </section>
  </section>
  <section class="section-profile">
      <%= image_tag 'plumbus.jpg', class: 'face' %>
  </section>
  <section class="section-description">
  
  </section>

</body>
</html>

