<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <section class="section-hero">
    <%# -------------- Navigation Bar ----------- %>
    <header>
      <nav>
        <div class="my-custom-row">
          <ul class="nav-right">
            <li>
              <a class="nav-link" href="/contact">Contact Me</a>
            </li>
            <li>
              <a class="nav-link" href="/">Home</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <%# ----------------------------------------- %>
    <section class="centered">
      <h1 class="display-2" id="name-script"><%= render 'layouts/name'%></h1>
    </section>
  </section>
  <%= render 'layouts/profile' %>
  <section class="section-description">

  </section>
  <div class="heading-projects">
    <h3 class="display-3 project-heading" >Here's what I've built</h1>
    <p class="project-heading">(besides the site you're on)</p>
  </div>
  <section class="section-projects">
    <%= render 'layouts/projects'%>
  </section>


</body>
</html>

