<section class="section-navigation">
    <nav>
      <div class="my-custom-row">
        <ul class="nav-right">
          <li>
            <a class="nav-link" href="/contactme">Contact Me</a>
          </li>
          <li>
            <a class="nav-link" href="/">Home</a>
          </li>
        </ul>
      </div>
    </nav>
  </section>