<div class="projects-container">
  <div class="column">
    <div class="content box1">
      <h1>1</h1>
      <div class="box">
        <h2>CivilianizeMe</h2>
        <p>A full-stack concept to facilitate a smoother transition for Military returning from deployment. Uses css popup and provides helpful links to crisis and employment resources.</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="content box2">
      <h1>2</h1>
      <div class="box">
        <h2>Sweater Weather</h2>
        <p>Using a fun, soothing, and interactive design, this weather app contacts the google and yahoo APIs for accurate forecast data.</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="content box3">
      <h1>3</h1>
      <div class="box">
        <h2>Curl</h2>
        <p>Grab your blanket and a glass of whiskey while you use this app to expand your taste of music, books, movies, podcasts, and more. Utilizes the TasteDive API to perform recommendations based off your search input.</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="content box4">
      <h1>4</h1>
      <div class="box">
        <h2>TuneView</h2>
        <p>For this web app my team and I connected to the Spotify API with complex refresh tokens. It provides fascinating data about your music tastes that isn't available in the Spotify app. You can examine the detailed qualities of the music you listen to, analyze trends, and live chat with others to share your favorite songs and artists.</p>
      </div>
    </div>
  </div>
</div>